/*EX-1*/
.ex-1-square{
    transition: background-color 2s;
}
.ex-1-square:hover{
    background-color: red;
}

/*EX-2*/
.ex-2-square{
    transition: width 2s;
    transition-timing-function: cubic-bezier(.13,.66,.58,1.06);
}
.ex-2-square:active{
    width: 100%;
}

/*EX-3*/
.ex-3-square{
    transition-delay: 400ms;
    transition-duration: 800ms;
    
}
.ex-3-square:hover{
    transition: border-radius 600ms;
    border-radius: 50%;
}

/*EX-4*/
.ex-4-square{
    transition: opacity 1s;
}
.ex-4-square:hover{
    opacity: 0;
}

/*EX-5*/
.ex-5-square{
    transition: transform 1s;
}
.ex-5-square:hover{
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.5);
}

/*EX-6*/
.ex-6-img:hover{
    filter: grayscale(1)
}

/*EX-7*/
.ex-7-img{
    transition: filter 2s;
}
.ex-7-img:hover{
    filter: brightness(1.2) grayscale(1);
}

/*EX-8*/
.ex-8-img{
    transition: all 2s;
}
.ex-8-img:hover{
    filter: saturate(0.2) contrast(1.5);
    border-radius: 20px;
}

/*EX-9*/
.ex-9-img{
    transition: all 2s;
}
.ex-9-img:hover{
    filter: saturate(0.3) grayscale(0.8);
    border-radius: 20px;
    transform: scale(1.5);
}

/*EX-10*/
.ex-10-icon{
    animation: spin 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/*EX-11*/
.ex-11-icon:hover{
    animation: half-spin 2s;
    animation-timing-function: linear;
}

@keyframes half-spin {
    0%{
        transform: rotate(0deg);
    }

    80%{
        transform: rotate(300deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

/*EX-12*/
.ex-12-button:hover .ex-12-top-white{
    animation: left 2s;
    animation-timing-function: linear;
}

@keyframes left {
    0%{
        left: 10%;
    }

    50%{
        left: 60%;
    }

    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: right 2s;
    animation-timing-function: linear;
}

@keyframes right {
    0%{
        right: 20%;
    }

    50%{
        right: 70%;
    }

    100%{
        right: 20%;
    }
}

/*EX-13*/
.ex-13-button:hover .ex-13-top-white {
    animation: circle 2s linear;
}
@keyframes circle{
    
    0%{
        left: 10%;
    }

    25%{
        left: 100%;
    }

    50%{
        bottom: 100%;
    }
}